@model IEnumerable<PhucMobileConnection.sanpham>
@{
    ViewBag.Title = "Sản Phẩm";
}

<h2>@ViewBag.NhaSanXuat.TenNSX</h2>
@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="../@item.HinhAnh" style="width:150px; height:170px;" alt="">
                    <h2>@String.Format("{0:0,0}", item.Gia)</h2>
                    <p>@item.TenSanPham</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@String.Format("{0:0,0}", item.Gia)</h2>
                        <p>@Html.ActionLink(item.TenSanPham, "Details", new { id = item.MaSanPham })</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
}
